/* @font-face {
  src: url("/fonts/HARRYP__.TTF");
  font-family: harryp;
}

* {
  margin: 0;
  padding: 0;
} */

/* h1 {
  font-family: harryp;
} */

/* p {
  line-height: 30px;
} */

/* body {
  font-family: sans-serif !important;
  font-weight: 300 !important;
} */

/* .w3-black {
  background-color: rgb(3, 3, 19);
} */
